/* Styling goes in this file */

body {
	font-family: "Arial";
}

.centered {
	text-align: center;
	font-size: 36px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    width: 60%;
    text-align: center;
}
  
.right-column {
    width: 40%;
    text-align: left;
}

.tooltip {
  position: absolute;	
  background-color: lightgrey;
  padding: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  font-family: "Arial";
  font-size: 18px;
}

.acknowledgements {
	text-align: center;
	font-size: 24px;
}

